@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');

body{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    
}
main{
    margin-top: 15%;
    margin-bottom: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    
}
.txt_resultado{
    margin-bottom: 35px;
    font-size:36px;
    text-align: center;
    color: hsl(241, 100%, 89%);

    

}
.circulo_gradiente{
    background: radial-gradient(circle, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    padding: 50px;
    margin: 0 90px;
}
.numero_grande{
    text-align: center;
    font-size: 70px;
    font-weight: 800;
    color: hsl(0, 0%, 100%);

}
.numero_pequeno{
    text-align: center;
    color: hsl(241, 100%, 89%);


}
.txt_great{
    font-size: 30px;
    text-align: center;
    font-weight: 800;
    padding: 10px;
    margin-top: 35px;
    color: hsl(221, 100%, 96%);

}
.texto_secundario{
    text-align: center;
    font-size: 1em;
    padding: 15px 50px;
    margin: 0 35px;
    color: hsl(241, 100%, 89%);

}
.pontuacao_principal{
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));


    font-family: 'Hanken Grotesk', sans-serif;
    width: 25%;
    margin-right: 10px;
    border-radius: 25px;
    padding: 50px 0;
    

    
}
.pontuacao_secundaria{
    background: hsl(0, 0%, 100%);;
    width: 25%;
    border: 1px solid;
    border-color: lightslategray;
    border-radius: 25px;
    padding: 50px 0;
}
.colunas_pontuacao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 60px;
    padding: 20px 0;
    




}
.txt_summary{
    font-family: 'Hanken Grotesk', sans-serif;
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    padding: 10px 10px 10px 10px;
    margin-left: 15px;
    

}
.container_txt_summary{
    display: inline-block;

}
.container_txt_summary p{
    font-family: 'Hanken Grotesk', sans-serif;
    width: 50%;
    font-size: 18px;
    line-height: 60px;
    font-weight: 600;
}
.result_summary{
    font-family: 'Hanken Grotesk', sans-serif;
    width: 50%;
    font-size: 18px;
    line-height: 60px;
}

input{
    margin-top: 20px;
    margin-left: 30px;
    appearance: none;
    border: none;
    border-radius: 40px;
    padding: 5% 35%;
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    font-size: 15px;
    
}

.txt_reaction{
    color: hsl(0, 100%, 67%);

}
.txt_memory{
    color: hsl(39, 100%, 56%)

}
.txt_verbal{
    color: hsl(166, 100%, 37%)

}
.txt_visual{
    color: hsl(234, 85%, 45%)
    

}

span{
    color: hsl(241, 100%, 89%);
}